body {
    background: #fff;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #64686d;
    line-height: 26px;
    overflow-x: hidden;
    padding-top:70px;
}

/* latin */

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v15/cJZKeOuBrn4kERxqtaUH3VtXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

.carousel-content {
    margin-top: 0px;
    padding: 70px 20px 55px 20px !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    color: #272727;
}

p {
    font-size: 14px;
    line-height: 24px;
    font-weight: 500;
}

a {
    color: #000;
    -webkit-transition: color 400ms, background-color 400ms;
    -moz-transition: color 400ms, background-color 400ms;
    -o-transition: color 400ms, background-color 400ms;
    transition: color 400ms, background-color 400ms;
}

a:hover,
a:focus {
    text-decoration: none;
    color: #FF6600;
}

.carousel-content p a {
    color: #FF6600;
}

.carousel-content p a:hover {
    color: #fff;
}

.banner-top
{
    margin-top:40px;
}

ol {
    padding-left: 15px;
}

ol li {
    margin-bottom: 6px;
    font-weight: 500;
    text-transform: none;
}

hr {
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #fff;
}

.section-header {
    margin-bottom: 25px;
}

.section-header .section-title {
    margin-bottom: 15px;
    display: block;
    clear: both;
    font-size: 28px;
    line-height: 38px;
    text-align: center;
    font-weight: 500;
    color: #64686d;
    text-transform: uppercase;
    margin-top:0px;
}

.section-header p {
    display: block;
    clear: both;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    font-weight: 300;
    color: #8d8d8d;
}

.btn {
    border-width: 0;
    border-radius: 0px;
}

.btn.btn-primary {
    background: #fff;
    border-color: #fff;
    color: #000;
}

.btn.btn-primary:hover,
.btn.btn-primary:focus {
    background: #000;
    color: #fff;
}


.navbar.navbar-default {
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    border-bottom: 1px solid #FF6600;
}

.navbar.navbar-default .navbar-toggle {
    margin-top: 32px;
}

.navbar-brand {
    padding: 0px;
}

.navbar-header .navbar-brand a {
    height: auto;
    display: inline-block;
    text-transform: uppercase;
}

#top-header {
    padding: 10px 0;
    background-color: #FF6600;
}

.navbar-inverse .navbar-nav>li>a {
    color: #fff;
}

.navbar-inverse .navbar-nav>li>a:hover {
    background-color: #fff;
    color: #000;
}

.carousel-content p {
    margin-bottom: 40px;
    margin-top: 20px;
    font-size: 16px;
}


/*************************/

.service-content p {
    text-align: justify;
}

.banner-rgb {
    background-color: rgba(0, 0, 0, 0.2);
}


.carousel-content a img {
    position: relative;
    bottom: 4px;
}

.why-us h3 {
    text-transform: capitalize;
    color: #FF6600 !important;
}



/*********/

.btn-send-msg {
    border-radius: 2px;
    background-color: #FF6600;
    color: #fff;
    font-size: 14px;
    border: 1px solid #fff;
    padding: 12px;
}

.btn-send-msg:hover {
    background-color: #fff;
    color: #FF6600;
    border-radius: 2px;
    border: 1px solid #FF6600;
}

#main-slider .slider-inner .internal-head h1 {
    font-size: 30px;
    text-transform: uppercase;
}


/**** Footer ***********/

.footer {
    background: #3B3B3B none repeat scroll 0 0;
    border-top: 4px solid #FF6600;
    margin: 0;
    padding: 15px 0;
}

.footer_dv {
    width: 100%;
}

.footer_dv h4 {
    color: #fff;
    font-weight: bold;
    margin-bottom: 30px;
    text-transform: uppercase;
    font-size: 18px;
}

.footer_dv ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}

.footer_dv ul li:first-child {
    border-top: medium none;
    box-shadow: none;
}

.footer_dv ul li {
    color: #f1f2f2;
    padding: 5px 0;
}

.footer_dv ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    text-transform: capitalize;
}

.footer_dv ul li a:hover {
    color: #FF6600;
}

.footer_dv p {
    color: #fff;
    font-size: 15px;
    line-height: 20px;
    margin: 0 0 15px;
    text-align: justify;
    text-transform: uppercase;
}

.footer_dv p a.num {
    font-size: 25px;
    color: #fff;
}

.footer_dv p a.num:hover {
    color: #FF6600;
}

.footer-icon .rt-icon {
    padding-right: 10px;
}


/************************************************************/

.templatemo-nav {
    border-radius: 0;
    width: 100%;
    z-index: 1000;
}

.sticky {
    position: fixed;
    left: 0;
    top: 0;
}


/* start header */

header {
    min-height: 20px;
    padding-top: 18px;
    padding-bottom: 10px;
    background-color: #FF6600;
}

header .fa {
    color: #fff;
}

header span {
    font-weight: bold;
    padding-right: 10px;
    padding-left: 4px;
    color: #fff;
}

header a {
    color: #fff;
    font-weight: 600;
}

header a:hover {
    color: #000;
}

header .social-icon {
    text-align: right;
}

header .social-icon li a {
    border: none;
    line-height: 0px;
    text-align: center;
}

header .social-icon li a i
{
    color:#FF6600;
    border: none;
    line-height: 0px;
    text-align: center;
    color: #FF6600;
    background-color: #fff;
    padding: 18px 12px;
    border-radius: 0;
    margin-right:2px;
    border-radius:1px;
    transition:all 0.8s ease;
}

header .social-icon li a i:hover
{
    background-color:#000;
    color:#fff;
}



/* end header */


/* start social icon */

.social-icon {
    position: relative;
    padding: 0;
    margin: 0;
}

.social-icon h4 {
    display: inline-block;
    padding-right: 20px;
}

.social-icon li {
    display: inline-block;
    list-style: none;
}

.social-icon li a {
    border: 1px solid #FF6600;
    border-radius: 2px;
    color: #FF6600;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    text-decoration: none;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}



/* end social icon */


/* start nagivation */

.navbar-default {
    background: #fff;
    border: none;
    box-shadow: none;
    margin: 0 !important;
}

.navbar-default .navbar-brand {
    font-weight: 500;
    font-size: 30px;
    height: 70px;
    line-height: 40px;
    padding: 12px 0px 0px 12px;
}

.navbar-default .navbar-nav li a {
    font-weight: bold;
    font-size: 13px;
    height: 70px;
    text-transform: uppercase;
    line-height: 40px;
    color:#000;main-slider
}

.navbar-default .navbar-nav>li>a.current {
    color: #FF6600;
}

.templatemo-nav {
    border-radius: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.10), 0 5px 5px rgba(0, 0, 0, 0.10);
}

.sticky {
    position: fixed;
    left: 0;
    top: 0;
}

textarea {
    resize: vertical;
}

.n-toll {
    color: #fff;
}

#custom-nav {
    box-shadow: 0px 0px 20px 0px #c7c7c7;
    z-index: 999;
}

#footer {
    padding: 25px 0 20px;
    color: #fff;
    background-color: #6b6f73;
}

#footer .copyright {
    margin-bottom: 0px;
    padding-bottom: 0;
    color: #fff;
    font-weight: 700;
}

.top-border {
    border-top: solid 1px #ddd;
}

.social-circle .fa {
    line-height: 40px;
}


.trem a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 15px;
    color: #fff;
}

.social {
    padding: 0;
    margin: 0;
    display: inline-block;
    position: relative;
    width: 100%;
    margin-bottom: 8px;
}

.social li {
    list-style: none;
    padding: 0;
    margin: 0;
    display: inline-block;
}

.social li a {
    font-size: 16px;
    display: table;
    width: 40px;
    height: 40px;
    margin: 0 4px;
}

.social li a i {
    display: table-cell;
    vertical-align: middle;
    color: #FF6600;
}

.social li a:hover,
.social li a:active,
.social li a:focus {
    text-decoration: none;
    border-bottom: none;
}

.social li a.social-box {
    background: #6173f4;
    color: #fff;
}

.social li a.social-circle {
    background: #FF6600;
    color: #fff;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
}

.social li:hover a.fa:hover {
    color: #fff !important;
}

.social li a:hover {
    background: #393e46 !important;
}

.social.social-box a {
    background: #6173f4;
    color: #fff;
}

.social.social-circle a {
    background: #fff;
    color: #FF6600;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
}

.navbar-inverse {
    background-color: #FF6600 !important;
}

.navbar-inverse.opaque-navbar {
    background-color: rgba(0, 0, 0, 0.5);
    border-bottom: 0px;
    transition: all 0.8s ease;
    padding: 10px 0;
}

.opaque-navbar.opaque {
    background-color: #FF6600;
    padding: 15px 0;
    transition: all 0.8s ease;
}

#feature {
    border-top: 1px solid #ddd;
}

.section-title {
    margin-bottom: 15px;
    display: block;
    clear: both;
    font-size: 28px;
    line-height: 38px;
    text-align: center;
    font-weight: 500;
    color: #64686d;
    text-transform: uppercase;
}

/************************************** Travel Design ****************************************/

.padding-sec
{
    padding:50px 15px;
    
}

.line {
    background-color: #FF6600;
    height: 5px;
    left: 0px;
    position: relative;
    width: 15px;
    margin: 0 auto;
}

.line::before {
    background-color: #717F86;
    content: "";
    height: 3px;
    left: -26px;
    margin: 0 auto;
    position: absolute;
    top: 1px;
    width: 20px;
}

.line::after {
    background-color: #717F86;
    content: "";
    height: 3px;
    left: 22px;
    margin: 0 auto;
    position: absolute;
    top: 1px;
    width: 20px;
}

.all-heading-margin .line
{
    margin-bottom:50px;
}


h2
{
    font-family: 'Mina', sans-serif;
    margin-top:0px;
    text-transform:uppercase;
    font-size:35px;
}

.all-heading-margin p
{
    line-height:30px;
    font-size:15px;
    text-align:justify;
}


.all-heading-margin .about-img .img-1 {
    position: relative;
}


.about-pad
{
    padding-bottom:150px;
}

#about
{
    padding:20px 0;
}

#about .line {
    background-color: #FF6600;
    height: 5px;
    left: 0px;
    position: relative;
    width: 15px;
    margin-left: 25px;
    margin-bottom:20px;
}

.carousel-caption {
    top: 25%;
    bottom: auto;
}

.travel-slider .carousel-caption h1
{
    color:#fff;
    text-transform:uppercase;
}

.travel-slider .carousel-caption p
{
    font-size:15px;
}

.travel-slider .carousel-caption .btn
{
    font-size: 14px;
    background-color:#FF6600;
    color:#fff;
    border:2px solid #fff;
}

.travel-slider .carousel-caption .btn:hover
{
    background-color:#fff;
    color:#FF6600;
    border:2px solid #FF6600;
}

.travel-slider .carousel-control .icon-prev
{
    font-size:8px;
}

.travel-slider .carousel-control .glyphicon-chevron-right, .carousel-control .icon-next
{
    font-size:14px;
}

.travel-slider .carousel-control .glyphicon-chevron-left, .carousel-control .icon-prev
{
    font-size:14px;
}

.travel-slider .carousel-control.right
{
    background-image:none;
}

.travel-slider .carousel-control.left
{
    background-image:none;
}

.wrap-box .box-img {
    position: relative;
    overflow: hidden;
}

.wrap-box .rooms-content {
    padding-bottom: 25px;
    padding-top: 15px;
    cursor: pointer;
    padding-left: 10px;
    padding-right: 10px;
    min-height: 258px !important;
}

.wrap-box .rooms-content .price {
    color: #8E7037;
    font-size: 14px;
}

.lSSlideOuter .lSPager.lSpg
{
    display:none;
}

.wrap-box:hover {
    -webkit-box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 0px 12px 3px rgba(0, 0, 0, 0.15);
}
.wrap-box {
    background: white;
    margin-bottom: 30px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

#destination
{
    padding:20px 0;
    background: #F2F2F2;
}

#why-choose-us
{
    padding:20px 0;
}

#why-choose-us h3
{
    font-size:18px;
    text-transform:uppercase;
}

#why-choose-us p
{
    text-align:justify;
}

#all-city
{
    padding:20px 0;
    background: #F2F2F2;
}

#all-city .carousel-control.right
{
    background-image:none !important;
}

#all-city .carousel-control.left
{
    background-image:none !important;
}

.all-city-slider
{
    text-align: center;
    border: 1px solid #ddd;
}

.flickity-viewport
{
    height:420px !important;
}

.all-city-slider .rooms-content h4
{
    text-transform:capitalize;
    font-size:15px;
}

#blog
{
    padding:20px 0;
}

#blog .mg_blog_medium h3 {
    font-size: 16px;
    font-weight: bold;
    padding: 0px 0px;
    line-height: normal;
    margin-bottom:25px;
    text-transform: uppercase;
    padding-left:15px;
    transition:all 0.5s ease;
}

#blog .mg_blog_medium .text {
    padding: 15px 20px 50px;
}

#blog .mg_blog_medium .text p {
    margin-bottom: 32px;
    font-size:14px;
    
}

#blog .mg_blog_medium .mg_readmore {
    float: right;
    background-color:#FF6600;
    font-weight:normal;
    border:1px solid #FF6600;
}

#blog .mg_blog_medium .mg_readmore:hover {
    background-color:transparent;
    border:1px solid #FF6600;
    color:#FF6600;
}

#blog .mg_readmore {
    float: none;
    font-size: 14px;
    font-weight: bold;
    line-height: normal;
    display: inline-block;
    text-transform: uppercase;
    
}

#blog .mg_blog_medium:hover {
    box-shadow: 0 17px 20px -15px rgba(0, 0, 0, 0.5);
}

#blog .mg_blog_medium.fancy-overlay:hover figure img
{
    transform:scale(1.1);
    transition:all 0.8s ease;
}

#blog .mg_blog_medium.fancy-overlay figure
{
    overflow:hidden;
    transition:all 0.8s ease;
}

#blog .mg_blog_medium.fancy-overlay figure img
{
    transition:all 0.8s ease;
}

#blog .fancy-overlay:hover h3 {
    color:#FF6600 !important;
}

#blog .mg_blog_medium 
{
    width: 98%;
    border: 1px solid #eeeef6;
}


.footer1 {
   
    padding-top: 40px;
    padding-right: 0;
    padding-bottom: 20px;
    padding-left: 0;
    background: #fff;
}

.internal-head p
{
    margin-bottom:25px;
    color:#fff;
}

.title-widget {
    color: #898989;
    font-size: 20px;
    font-weight: 300;
    line-height: 1;
    position: relative;
    text-transform: uppercase;
    font-family: 'Fjalla One', sans-serif;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 25px;
    margin-left: 0;
    padding-left: 28px;
}

.title-widget::before {
    background-color: #FF6600;
    content: "";
    height: 22px;
    left: 0px;
    position: absolute;
    top: -2px;
    width: 5px;
}

#social .fa
{
    border-radius:0px;
}

.ul-line
{
    list-style:none;
    padding-left:0px;
}

.ul-line li
{
    margin-bottom:6px;
}

.ul-line i
{
    padding-right:6px;
}

.widget_nav_menu ul {
    list-style: outside none none;
    padding-left: 0;
}

.widget_archive ul li {
    background-color: rgba(0, 0, 0, 0.3);
    content: "";
    height: 3px;
    left: 0;
    position: absolute;
    top: 7px;
    width: 3px;
}


.widget_nav_menu ul li {
    font-size: 13px;
    font-weight: 700;
    line-height: 20px;
    position: relative;
    text-transform: uppercase;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    margin-bottom: 7px;
    padding-bottom: 7px;
    width:95%;
}



.title-median {
    color: #636363;
    font-size: 20px;
    line-height: 20px;
    margin: 0 0 15px;
    text-transform: uppercase;
    font-family: 'Fjalla One', sans-serif;
}

.footerp p {font-family: 'Gudea', sans-serif; }


#social:hover {
                -webkit-transform:scale(1.1); 
-moz-transform:scale(1.1); 
-o-transform:scale(1.1); 
            }
            #social {
                -webkit-transform:scale(0.8);
                /* Browser Variations: */
-moz-transform:scale(0.8);
-o-transform:scale(0.8); 
-webkit-transition-duration: 0.5s; 
-moz-transition-duration: 0.5s;
-o-transition-duration: 0.5s;
            }           
/* 
    Only Needed in Multi-Coloured Variation 
                                               */
.social-fb:hover {
    color: #3B5998;
}
.social-tw:hover {
    color: #4099FF;
}
.social-gp:hover {
    color: #d34836;
}
.social-em:hover {
    color: #f39c12;
}
.nomargin { margin:0px; padding:0px;}

.footer-bottom {
    background-color: #15224f;
    min-height: 30px;
    width: 100%;
}
.copyright {
    color: #fff;
    line-height: 30px;
    min-height: 30px;
}
.design {
    color: #fff;
    line-height: 30px;
    min-height: 30px;
    padding: 7px 0;
    text-align: right;
}
.design a {
    color: #fff;
}

#main-slider .service-item
{
    height:250px !important;
}

#main-slider .service-item .carousel-content
{
    padding:50px 20px 120px 20px !important;
}

#main-slider .service-item .carousel-content p
{
    color:#fff;
}

#main-slider .slider-inner .index-btn p a{color:#fff;font-size:35px;font-weight:600;text-decoration:none;padding:15px;border:2px solid #fff;transition:all .5s ease;}
#main-slider .slider-inner .index-btn p a:hover{color:#FF6600;border:2px solid #FF6600;background-color:#fff;transition:all .5s ease;}
.carousel-content p a{color:#fff;font-size:32px;font-weight:600;text-decoration:none;padding:15px;border:3px solid #fff;transition:all .5s ease;}
.back-opacity
{
    background-color: rgba(0,0,0,0.2) !important;
}
.carousel-content p a:hover{color:#FF6600;background-color:#fff;border:3px solid #FF6600;transition:all .5s ease;}
#main-slider{overflow:hidden;position:relative;}
#main-slider .slider-inner h1{font-size:25px;line-height:1;text-transform:uppercase;color:#fff;}
#main-slider .item{height:425px;background-repeat:no-repeat;background-position:50% 0;background-size:cover;}
#main-slider p
{
    color:#fff;
    font-size:15px;
    font-weight: 600;
    padding-top: 15px !important;
}
#main-slider .slider-inner h2{font-size:25px;line-height:1;text-transform:uppercase;color:#fff;}
#main-slider .slider-inner h2 > span{color:#72C05B;}
#main-slider .slider-inner .btn{background-color:#FF6600;color:#fff;font-size:14px;border:1px solid #FF6600;}
#main-slider .slider-inner .index-btn .btn{border-radius:0px;margin-bottom:18px;}
#main-slider .slider-inner .btn:hover{background-color:#fff;color:#FF6600;border:1px solid #FF6600;}

.terms p
{
    font-size:14px !important;
}

.terms strong
{
    text-transform:uppercase;
    color:#FF6600;
}

.terms h3
{
    text-transform:uppercase;
    font-size:18px;
    color:#FF6600;
}

.terms p
{
    text-align:justify;
}

.post .rooms-content .price
{
    text-align:center !important;
}

.post .wrap-box
{
    border:1px solid #ddd;
}

.post .wrap-box h3
{
    font-size: 17px;
    line-height: 20px;
}

/**************************************/
/*****    12. Contact area css     ****/
/**************************************/


#contact{}
#contact .contact-form{background:rgba(255, 255, 255, 0.8);padding:20px;margin-top:50px;}
#contact .contact-form h3{margin-top:0;}
#contact label{font-weight:300;}
#contact .form-group input ,#contact .form-group textarea{border-radius:0;font-size:13px;font-weight:normal;color:#888;}
#contact .form-group textarea{height:195px;}
#contact .form-control:focus, #focusedInput{border:1px solid #FF6600;box-shadow:none;}
#contact .btn-send-msg{margin-top:30px;border-radius:0px;background-color:#FF6600;color:#fff;font-size:14px;border:1px solid #fff;}
#contact .btn-send-msg:hover{margin-top:30px;background-color:#fff;color:#FF6600;border-radius:0px;border:1px solid #FF6600;}

/* enable Flickity by default */
.gallery:after {
  content: 'flickity';
  display: none; /* hide :after */
}

@media screen and ( min-width: 768px ) {
  /* disable Flickity for large devices */
  .gallery:after {
    content: '';
  }
}

/*
|----------------------------------------------------------------------------
| Button
|----------------------------------------------------------------------------
*/

#submit.btn {
    transition: all 0.5s ease 0s;
    width: 150px;
}
#submit.btn::after {
    content: "\f0a9";
    font-family: fontawesome;
    font-size: 20px;
    color: #000;
    position: absolute;
    right: 50px;
    -webkit-transition:all .3s ease 0s;
    -moz-transition:all .3s ease 0s;
    -ms-transition:all .3s ease 0s;
    -o-transition:all .3s ease 0s;
    transition:all .3s ease 0s;
    opacity: 0;
}

#submit.btn {
    font-size: 18px;
    overflow: hidden;
    padding: 6px 20px;
}

#submit.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
}

#submit.btn:hover::after {
    right:10px;
    opacity: 1;
}
#submit.btn {
    font-size: 18px;
    overflow: hidden;
    padding: 10px 20px;
}
.btn-shutter-out-horizontal {
    background-color: #FF6600;
    -webkit-box-shadow: 0 0 1px transparent;
    box-shadow: 0 0 1px transparent;
    color: #fff;
    display: inline-block;
    position: relative;
    -moz-transform: perspective(1px) translateZ(0px);
    -webkit-transform: perspective(1px) translateZ(0px);
    -o-transform: perspective(1px) translateZ(0px);
    -ms-transform: perspective(1px) translateZ(0px);
    transform: perspective(1px) translateZ(0px);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: color;
    transition-property: color;
    vertical-align: middle;
}
.btn-shutter-out-horizontal::before {
    background-color: #fff;
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    -moz-transform:scaleX(0);
    -webkit-transform:scaleX(0);
    -o-transform:scaleX(0);
    -ms-transform:scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 50%;
    transform-origin: 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    z-index: -1;
}

#submit.btn::after {
    content: "\f0a9";
    font-family: fontawesome;
    font-size: 20px;
    color: #000;
    position: absolute;
    right: 50px;
    -webkit-transition: all .3s ease 0s;
    -moz-transition: all .3s ease 0s;
    -ms-transition: all .3s ease 0s;
    -o-transition: all .3s ease 0s;
    transition: all .3s ease 0s;
    opacity: 0;
}

.btn-shutter-out-horizontal:hover, .btn-shutter-out-horizontal:focus, .btn-shutter-out-horizontal:active {
    color: #000;
}
.btn-shutter-out-horizontal:hover::before, .btn-shutter-out-horizontal:focus::before, .btn-shutter-out-horizontal:active::before {
    -moz-transform: scaleX(1);
    -webkit-transform: scaleX(1);
    -o-transform: scaleX(1);
    -ms-transform: scaleX(1);
    transform: scaleX(1);
}
.btn-transparent {
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
}
.btn.btn-shutter-out-horizontal.disabled {
    opacity: 1;
}

#contact
{
    background: #F2F2F2;
}

#contact .line
{
    margin-bottom:30px;
}

/* external css: flickity.css */
.gallery-cell {
  width: 28%;
  height: 200px;
  margin-right: 10px;
  counter-increment: gallery-cell;
}

/* cell number */
.gallery-cell:before {
  display: block;
  text-align: center;
  content: counter(gallery-cell);
  line-height: 200px;
  font-size: 80px;
  color: white;
}

.demo {
    width:420px;
}
.demo ul {
    list-style: none outside none;
    padding-left: 0;
    margin-bottom:0;
}
.demo li {
    display: block;
    float: left;
    margin-right: 6px;
    cursor:pointer;
}
.demo img {
    display: block;
    height: auto;
    max-width: 100%;
}

.flickity-page-dots
{
    display:none;
}

.owl-carousel .owl-dots.disabled
{
    display:none !important;
}

.owl-carousel .owl-nav.disabled
{
    display:none !important;
}

.owl-carousel .owl-nav.disabled .owl-prev
{
    text-transform:capitalize;
    background-color:#FF6600;
    border-radius:0px;
    border:1px solid #FF6600;
}

.owl-carousel .owl-nav.disabled .owl-prev:hover
{
    background-color:transparent;
    border:1px solid #FF6600;
    color:#FF6600;
}

.owl-carousel .owl-nav.disabled .owl-next
{
    text-transform:capitalize;
    background-color:#FF6600;
    border-radius:0px;
    border:1px solid #FF6600;
}

.owl-carousel .owl-nav.disabled .owl-next:hover
{
    background-color:transparent;
    border:1px solid #FF6600;
    color:#FF6600;
}

.rooms-content .price
{
    text-align:center;
}

.rooms-content .sky-h4
{
    font-size:15px;
}

#why-choose-us .service-icon {
    display: inline-block;
    width: 120px;
    height: 120px;
    line-height: 120px;
    border-radius: 50%;
    background: #FF6600;
    font-size: 40px;
    color: #fff;
    margin-bottom: 40px;
    position: relative;
    text-align:center;
}

#why-choose-us .service-icon:before {
    content: "";
    border: 3px solid #fff;
    border-radius: 50%;
    position: absolute;
    top: 10px;
    left: 10px;
    bottom: 10px;
    right: 10px;
    opacity: 1;
    transition: all 0.3s ease 0s;
}

#why-choose-us .service-icon:after {
    content: "";
    border-top: 25px solid #FF6600;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    position: absolute;
    bottom: -22px;
    left: 40%;
}

#why-choose-us .why-main:hover .service-icon:before {
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
}

#disclaimer {
    padding: 0px 0 10px;
    border-bottom: solid 1px #ddd;
    margin-bottom: 15px;
}

#disclaimer span {
    font-size: 20px;
    color: #fff;
    margin-bottom: 20px;
    text-transform: uppercase;
}

#disclaimer p {
    margin-top: 10px;
    text-align: justify;
    color: #fff;
}


.input-sm {
    height: 40px;
    border: 0;
    background: rgba(255, 255, 255, 0.7);
    box-shadow: inherit;
    border-bottom: 1px solid #ccc;
    border-radius: 0;
}

.form-group select {
    height: 35px;
    border: 0;
    background: rgba(255, 255, 255, 0.7);
    box-shadow: inherit;
    border-bottom: 1px solid #ccc;
    border-radius: 0;
}
.form-group select {
    width: 100%;
}

.panel-default {
    border-color: transparent;
    border-radius: 0;
    background: rgba(255, 255, 255, 0.8);
}
/******************************************************* Media Query ************************************************************/




@media (min-width: 992px) {
    .all-city .carousel-control {
    padding-top:9%;
    width:5%;
}
}

@media (min-width: 1200px) { 
    .all-city .carousel-control {
    padding-top:10%;
    width:5%;
}
}


@media (max-width:1280px) {
    #main-slider .slider-inner h1 {
        font-size: 25px;
    }
}

@media (max-width:1024px) {
    #main-slider .slider-inner h1 {
        font-size: 25px;
    }
    
    #blog .fancy-overlay figure
    {
        text-align:center !important;
    }
}

@media (max-width:980px) {
    #main-slider .slider-inner h1 {
        font-size: 25px;
    }
    
    .gallery-cell
    {
        width:28%;
    }
    
    .flickity-viewport {
        height: 295px !important;
    }
    
    #blog .fancy-overlay figure
    {
        text-align:center !important;
    }
    
    .all-heading-margin .about-img img
    {
        margin:0 auto;
        margin-bottom:25px;
    }
    
        #main-slider .item
    {
        height:auto;
    }
        
    .why-main
    {
        margin-bottom:30px;
    }
}

@media (max-width:768px) {
    #main-slider .slider-inner h1 {
        font-size: 25px;
    }
    
    .all-heading-margin .about-img img
    {
        margin:0 auto;
    }
    
    #blog .fancy-overlay figure
    {
        text-align:center;
    }
    
    .all-city .carousel-control 
    {
        padding-top:8%;
        width:5%;
    } 
    
    .gallery-cell
    {
        width:28%;
    }
    
    .flickity-viewport {
        height: 295px !important;
    }
    
        #main-slider .item
    {
        height:auto;
    }
}


@media (max-width:767px) {
    .gallery-cell { width: 100%; }
    
    .all-city-slider
    {
        width: 100%;
        border: 1px solid transparent;
    }
    
    .top-media
    {
        margin-top:30px;
    }
    
    .all-city-slider img
    {
        margin:0 auto;
    }
    
    .navbar-header .navbar-brand a {
        margin-left: 20px;
    }
    
    .wrap-box .rooms-content h4
    {
        font-size:13px;
    }
    
    .wrap-box .rooms-content .price
    {
        font-size:13px;
    }
    
    #blog .fancy-overlay figure
    {
        text-align:center;
    }
    
    #blog .mg_blog_medium
    {
        width:100%;
    }
    
    .box-i
    {
        padding:0 15px;
    }

    h2
    {
        font-size:30px;
    }
    .navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
        color: #000;
        background-color: #fff;
    }
    .carousel-content p a {
        font-size: 30px;
    }
    
    #main-slider .slider-inner h2 {
        font-size: 24px;
    }
    .section-header {
        margin-bottom: 15px;
    }
    
    #main-slider .slider-inner h1 {
        font-size: 20px;
    }
    #main-slider .slider-inner .index-btn p a {
        font-size: 20px;
    }
    .internal-head p a {
        font-size: 20px;
    }
    #main-slider .slider-inner .internal-head h1 {
        font-size: 20px;
        text-transform: uppercase;
    }
    .section-header .section-title {
        font-size: 21px;
    }
    .panel-title a h3 {
        font-size: 14px;
    }
    .navbar-nav .open .dropdown-menu {
        min-height: 190px;
        overflow-y: scroll;
    }
    .carousel-content p {
        font-size: 15px;
    }
    .carousel-content.internal-head p {
        font-size: 14px;
    }
    .navbar-nav {
        width: 100%;
        text-align: left;
    }
    .navbar-nav>li {
        float: none;
        display: block;
    }
    .navbar-nav {
        margin: auto;
    }
    .large-p img {
        display: block;
    }
    .n-toll {
        display: none;
    }
    .navbar.navbar-default .navbar-toggle {
        margin-top: 20px;
    }
    header {
        padding-top: 0px;
    }
    .sm-img {
        display: none;
    }
    .lg-right {
        text-align: center;
    }
    .navbar-nav .open .dropdown-menu>li>a {
        line-height: 35px;
    }
    .navbar-default .navbar-nav .open .dropdown-menu>li>a:hover {
        background-color: #06444e;
        color: #fff;
    }
    .lg-left {
        text-align: center;
    }
    #main-slider .slider-inner h1 {
        line-height: 25px;
    }
    header {
        min-height: 0px;
        padding-bottom: 0px;
    }
    .social-icon {
        margin-bottom: 0px;
    }
    #cta2 h2 {
        font-size: 20px;
    }
    .footer {
        text-align: center;
    }
    .serviceBox .description {
        text-align: justify;
    }
    .social-icon h4 {
        display: none;
    }
    .footer_dv p {
        text-align: center;
    }
    .templatemo-nav {
        position: fixed;
        top: 0;
    }
    
    .travel-slider .carousel-inner
    {
        height:290px;
    }
    
    .travel-slider .carousel-inner>.item>a>img, .carousel-inner>.item>img
    {
        height: 275px;
    }
    
    .travel-slider .carousel-caption {
        top: 2%;
        bottom: auto;
    }
    
    .travel-slider .carousel-indicators li
    {
        display:none;
    }
    
    #main-slider .item
    {
        height:auto;
    }
}
.banner-rgb {
    background-color: rgba(0,0,0,0.2);
}
.banner-rgb h1{
    font-weight: 800 !important;
    font-size: 24px !important;
}
.banner-rgb p{
    font-weight: 500 !important;
    font-size: 20px !important;
}
.ft-wt p
{
    font-weight: 600 !important;
    font-size: 20px !important;
}
/*****************/
.faq-support .panel{
    border: none;
    border-radius: 0;
    box-shadow: none;
    margin-bottom: 8px;
}

.faq-support .panel-heading{
    padding: 0;
    border: 1px solid #c8c8c8;
    border-radius: 0;
}

.faq-support .panel-heading h3{
    font-size: 16px;
    color: #662c91;
    font-weight: 600;
    cursor: pointer;
}

.faq-support .panel-heading h3 a{
    display: block;
    padding: 16px 40px 16px 16px;
}

.faq-support .panel-body{
    border: 1px solid #c8c8c8;
    border-top: none !important;
}

.faq-support .panel-body p{
    font-size: 14px;
    color: #5d5d5d;
    line-height: 1.5em;
    letter-spacing: 0.03em;
}

.faq-support .panel-heading  .panel-title a{
    position: relative;
    text-transform:uppercase;
    line-height: 30px;
}
.faq-support .panel-heading  .panel-title a:hover{
    text-decoration:none;
}


.faq-support .panel-heading  .panel-title a:after{
    content: '\f106';
    font-family: 'FontAwesome';
    position: absolute;
    right: 20px;
    top: 18px;
}

.faq-support .panel-heading  a.collapsed:after{
    content: '\f107';
    font-family: 'FontAwesome';
    position: absolute;
    right: 20px;
    top: 18px;
}

/***************************/
.bg-colr
{
    background: #F2F2F2 !important;
}
.wdth
{
    max-width: 59% !important;
}
.text1
{
    text-align: center !important;
}
.wrap-box h3{
    font-weight: 500 !important;
    font-size: 23px !important;
    padding-top: 15px !important;
}
.bubble-box {
    max-width: 305px;
    position: fixed;
    left: 0px;
    bottom: 50px;
    z-index: 1000;
    background: #1A1C25;
    color: #fff;
}
.abc .about-img .ht-250
{
    height: 300px !important;
    padding-top: 40px !important;
}

.ads-box{background:rgba(225, 255, 255, 0.6);border:1px solid rgba(0, 0, 0, 0.05);border-radius:3px;text-align:center;color:#4F5152;max-width:160px;box-shadow:1px 2px 4px rgba(0, 0, 0, 0.18);font-size:13px;line-height:1.5;}
.bubble-box .bb--inner{padding:10px;}
.bb--inner a, .bb--inner p{margin:0 !important;}
.bb--inner p{font-size:15px;padding-top:10px;color:#fff;}
.bb--inner p strong{color:#000;}

#Capa_1{width:50px;height:50px;}

#Capa_1{-webkit-animation-name:spinner;-webkit-animation-timing-function:linear;-webkit-animation-iteration-count:infinite;-webkit-animation-duration:1s;animation-name:spinner;animation-timing-function:linear;animation-iteration-count:infinite;animation-duration:1s;-webkit-transform-style:preserve-3d;-moz-transform-style:preserve-3d;-ms-transform-style:preserve-3d;transform-style:preserve-3d;}

